@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --cabecalho-altura: 3.5rem;

    --cor-fundo-primary: #323640;
    --btn-azul: #155266;

    --font-size-grande: 2.4rem;
    --font-size-normal: 1rem;
    --font-size-pequeno: .7rem;
    --body-fonte: 'Poppins', sans-serif;
    --body-fonte-2: 'Montserrat', sans-serif;


    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;


    --cor-black: #0b0a0a;
    --cor-cinza: #403a3a;
    --cor-cinza-light: #5B6470;
    --cor-branco1: #fafafa;
    --cor-branco2: #f0efef;
    --cor-branco3: #fcfcfc;


    --titulo-cor: #f2f2f2;
    --texto-cor: #bfbfbf;
    --container-cor: #212121;
    --contianer-cor-alt: #181616;
    --body-cor: #2b2b2b;

    
}




*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body{
	color: #fff;
	align-items: center;
	justify-content: center;
	font-family: var(--body-fonte);
	background-color: var(--cor-cinza-light);
}


a, ul, li, ol{
	color: inherit;
	text-decoration: none;
	list-style: none;
}


img{
    max-width: 100%;
    height: auto;
}


.container{
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


/* ============= For the animations scrollrevelas ============== */
.main{
    overflow: hidden;
}



@media screen and (min-width: 1024px){
    :root{
    --font-size-grande: 5rem;
    --font-size-normal: 1rem;
    --font-size-pequeno: .85rem;
    }
}